.new
  %h2 Add new painting
  = form_for(@painting, :html => {:multipart => true}) do |f|
    - if @painting.errors.any?
      #error_explanation
        %h3
          = pluralize(@painting.errors.count, "error")
          prohibited this painting from being saved:
        %ul
          - @painting.errors.full_messages.each do |msg|
            %li= msg
    .field
      = f.label :title
      %br/
      = f.text_field :title
    .field.file
      = f.file_field :image
    .actions
      = f.submit 'Add new painting'
